.Login {
    align-items: center;
}

.Register {
    text-align: center;
    font-size: medium;
    color: black;
}

.Register > a {
    text-align: center;
    font-size: medium;
    color: black;
}

.Login form {
    width: 300px;
    margin: auto;
    text-align: left;
}

.Login input, .Login button, .Login label {
    width: 100%;
    box-sizing: border-box;
    font-size: large;
    margin-bottom: 10px;
}

.Login span {
    color: red;
    margin: 0 20px;
    position: absolute;
}
