.AdminVacationCard {
    width: 250px;
    display: inline-flex;
    text-align: center;
    border: solid plum 2px;
    border-radius: 15px;
    font-family: tahoma;
    font-size: small;
    margin: 1px;
}

.AdminVacationCard img {
    width: 240px;
    height: 150px;
    margin: 5px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid plum;
    vertical-align: middle;
    justify-content: center;
}

.AdminVacationCard .editAdmin {
    position: relative;
    padding-left: 60%;
    height: 10px;
}
.AdminVacationCard button {
    background-color: transparent;
    border: transparent;
}

.CardLogo {
    font-size: medium;
    color: darkcyan;
    font-weight: bold;
}

